@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>nightClub | @ViewBag.Title</title>

    <!-- Favicons -->
    <link href="Content/img/favicon.png" rel="icon">
    <link href="Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/bootstrap-icons/css")
    @Styles.Render("~/bundles/fontawesome/css")

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", false)}

    <!-- MAIN CSS Files -->
    @Styles.Render("~/bundles/main/css")
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
        @Html.Partial("_Header")
    </header><!-- End Header -->

    <!-- ======= Main ======= -->
    <main id="main">
        @RenderBody()

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        @Html.Partial("_Footer")
    </footer>
    <!-- End Footer -->
    <!--Section for main scripts render-->
    @Scripts.Render("~/bundles/main/js")
    @Scripts.Render("~/bundles/isolate-layout/js")
    @Scripts.Render("~/bundles/validation/js")

    @RenderSection("Scripts", false))

</body>
</html>

